{% extends "layout.twig" %}

{% block content %}
    Foh.SystemAccount.User::List
    <p>{{ message }}</p>
    <form method="post">
        <button type="submit">create a shrink</button>
    </form>
{% endblock %}
