/*
 * list view
 */
.resource-list-view .table-responsive {
    border: none;
}
.resource-list-view .list-item-actions .btn-group {
    width: 3em;
}
.resource-list-view .delete-action {
    text-align: right;
}
.resource-list-view .delete-action .btn-group {
    width: 3em;
}
.resource-list-view .workflow-state.list-item-actions > div:first-child {
    display: flex;
}
.resource-list-view .workflow-state .user-state {
    text-align: center;
    width: 5em;
}

/*
 * modify view
 */
.edit-resource-view {
  position: relative;
  min-height: 100%;
}
.edit-resource-view > body {
  /* Margin bottom by footer height */
  margin-bottom: 4em;
}
.edit-resource-view .form-group:first-child {
    margin-top: 2em;
}
.edit-resource-view .form-actions {
    position: fixed;
    bottom: 3.5em;
}