{% extends "layout.html.twig" %}

{% block header %}
<div class="jumbotron">
    <div class="container">
        <h1>Honeylex</h1>
        <p>{{ 'Honeybee CQRS & ES integration with the Silex framework'|trans }}</p>
    </div>
</div>
{% endblock %}

{% block content %}{% endblock %}
