{% extends "layout.html.twig" %}

{% block header %}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="page-header">
          <h1>Honeylex <small>{{ 'Honeybee CQRS & ES integration with the Silex framework'|trans }}</small></h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{{ 'Welcome to your new application.'|trans }}
{% endblock %}
